.header {
  background-color: gainsboro;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid gray;
  padding: 0.8rem 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10px;
}

.header__left {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 50px;
  max-height: 50px;
}
.header__menu {
  display: flex;
  align-items: center;
}

.header__menu h3 {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header__menu h3 span {
  display: flex;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right button {
  margin-right: 2rem;
}
